@model ML.Carrera
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Carreras</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h5>Selecciona una carrera para eliminar o editar. Selecciona + para agregar una nueva carrera.</h5>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-12 offset-11">
            @Html.ActionLink("+", "Form", new { idCarrera = 0 }, new { @class = "btn btn-success" })
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @if (Model.Carreras.Count == 0)
            {
                <h2>No hay registros.</h2>
            }
            else
            {


                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Editar</th>
                            <th>IdCarrera</th>
                            <th>Nombre</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ML.Carrera carrera in Model.Carreras)
                        {
                            <tr>
                                <td><a class="btn btn-warning" href="@Url.Action("Form","Carrera", new {idCarrera=carrera.IdCarrera})"><i class="bi bi-pencil-square"></i></a></td>
                                <td>@carrera.IdCarrera</td>
                                <td>@carrera.Nombre</td>
                                <td><a class="btn btn-danger" href="@Url.Action("Delete","Carrera", new {idCarrera=carrera.IdCarrera})" onclick="return confirm('Seguro que desea eliminar el registro');" })"><i class="bi bi-trash-fill"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>

</div>

